name: Docker build & publish

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1'  # Every Monday at 3 AM

env:
  REGISTRY: ghcr.io
  IMAGE_SUFFIX: -v2ray

concurrency:
  group: "docker-build"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        app: [ssserver, sslocal]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.actor }}/${{ matrix.app }}${{ env.IMAGE_SUFFIX }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: ${{ matrix.app }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}